<select id="select_form_property_<%= fp.id %>" <%= fp.multiple ? 'multiple' : ''%> name='properties[<%= fp.id %>][value][]' class='form-control'>
  <% value = item.hash_properties_values[fp.name.to_sym] || [] %>
  <option value='' disabled selected>Select <%= fp.multiple ? 'one or more options (press shift to add)' : 'your option' %></option>
  <% fp.options.split(',').each do |option| %>
    <option <%= value.split(',').include?(option) ? 'selected=selected' : '' %> value='<%= option %>'><%= option %></option>"
  <% end %>
</select>