<div class="row">
  <div class="col-sm-8">
    <pox-items-groups></pox-items-groups>
  </div>

  <div class="col-sm">
    <%= form_for(:new_item, url: items_url, method: :post) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Item name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, 'Group name' %>
        <div class="row">
          <div class="col-sm-5">
            <%= f.label 'choose a group' %>
            
            <%= f.select :selected_group_names, @groups.map {|g| g.name }, {include_bank: true},  {class: 'form-control', multiple: true}  %>
          </div>
        
          <div class="col-sm-1">
            OR
          </div>
          
          <div class="col-sm">
            <%= f.label 'create a group' %>
            <%= f.text_field :new_group_name, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>