<!DOCTYPE html>
<html>
  <head>
    <title>Polycrox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- , 'data-turbolinks-track': 'reload' -->
    <%= javascript_include_tag 'application' %>
    <!-- , 'data-turbolinks-track': 'reload' -->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to 'Polycrox', root_url, class: 'navbar-brand' %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'items/groups', items_path %>
            <%= link_to 'properties', items_path %>
            <%= link_to 'gardens', items_path %>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container">
      
      <%= yield %>
    </div>
  </body>
</html>
